process {

/* Executor parameters */
maxForks = 4
}

params {
bcftools="bcftools"
fasta_reference="/media/judith/Almacenamiento/Documents/Ongoing_projects/Rot1/test/reference/Hg19new.fa.gz"
neandertal_vcf="/media/judith/Almacenamiento/Documents/Ongoing_projects/Rot1/test/reference/Ancestral/AltaiNea.hg19_1000g.22.mod.vcf.gz"
denisovan_vcf="/media/judith/Almacenamiento/Documents/Ongoing_projects/Rot1/test/reference/Ancestral/vindija.22.sample.vcf.gz"
chimpance_vcf="/media/judith/Almacenamiento/Documents/Ongoing_projects/Rot1/test/reference/Ancestral/pan_troglodytes.vcf.gz"
}
